.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  top: 64px;
  right: 0;
  z-index: 2;
  background: #2f80ed;
  background-size: cover;
  animation: rotation 20s linear infinite;
}
